/*********************
FLEXBOX LAYOUT
*********************/

#cartoon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*********************
GRID LAYOUT
*********************/

#cartoon-grid {
    display: grid;
    max-width: 700px;
    /* TODO: Change to ems */
    /*margin: 0 auto 10%;*/
    margin: 0 auto 2.1875em;
    /*padding-top: 35px;*/
    grid-template-columns: 1fr;
    grid-template-rows: auto 200px 200px 200px 200px auto auto;
    /*                  x,   y,    z,    1,    2,    3,   copyright */
    /*grid-gap: 25px;*/
    grid-gap: 1.5em;
}

@supports (display: grid) {
    /* remove flexbox adjustments */
    .panel {
        margin: 0;
        height: auto;
        width: auto;
    }
}

/*********************
PRESENTATION
*********************/

#cartoon-grid .callout {
    font-family: "chaloops",sans-serif;
    font-weight: 600;
    color: #094031;
    padding: .625em; /* 10px */
}

/*********************
PANELS
*********************/

.panel {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 5px #094031; /* 0 0 0 5px #094031 */
}

.panel-x {
    box-shadow: none;
}

.panel-y {
    background-image: url(../img/y.png);
}

.panel-z {
    background-image: url(../img/z.png);
    box-shadow: none;
}

.panel-1 {
    background-image: url(../img/1.png);
    box-shadow: none;
}

.panel-2 {
    background-image: url(../img/2.png);
}

.panel-3 {
    background-image: url(../img/3.png);
    box-shadow: none;
}

.panel-4 {
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-003.svg);*/
    background-image: url(../img/4.png);
    box-shadow: none;
}

.panel-5 {
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-004.svg);*/
    background-image: url(../img/5.png);
}

.panel-6 {
    background-image: url(../img/6.png);
}

.panel-copyright {
    box-shadow: none;
    font-size: .75em;
}


/*********************
MEDIA QUERIES
*********************/

@media only screen and (min-width: 500px) { /* was 768px */

    #cartoon-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px 200px 200px auto;
    }

    .panel-x {
        grid-column: 1;
        grid-row: 1;
        z-index: 1;
        margin: -5px 0 0 -10px;
        transform: rotate(-2deg);
    }

    .panel-x p {
        background: #f8f7f2;
        box-shadow: 0 0px 0px 5px #094031;
        text-align: left;
        margin-right: 126px;
    }

    .panel-y {
        grid-column: 1 / span 2;
        grid-row: 1;
        background-size: 70%;
        background-position: right;
    }

    /* flexbox centering */
    .panel-3 {
        display: flex;
        align-items: center;
    }

    .panel-copyright {
        grid-column: span 2;
        text-align: right;
    }

}

@media only screen and (min-width: 992px) { /* was 600px */

    #cartoon-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 200px 200px auto;
        margin-top: .7465em; /* same value as a paragraph */
    }

    .panel-x p {
        margin: 0;
    }

    .panel-copyright {
        grid-column: span 3;
    }

}