/*********************
FLEXBOX LAYOUT
*********************/

#story-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*********************
GRID LAYOUT
*********************/

#story-grid {
    display: grid;
    /*width: 100%;*/
    /*max-width: 770px;*/
    margin: 10% auto;
    /*padding-top: 35px;*/
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 200px 200px auto 200px 200px 200px auto 200px 200px auto;
    /*grid-gap: 25px;*/
    grid-gap: 1.5em;
}

/*********************
PRESENTATION
*********************/

#story-grid .callout {
    font-family: "chaloops",sans-serif;
    font-weight: 600;
    /*color: #333;*/
    color: #6d6e71;
    padding: 10px;
}

/*********************
PANELS
*********************/

.panel {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0px 0px 5px #6d6e71;
}

.panel-title {
    box-shadow: none;
}
.panel-1 {
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-002.svg);*/
    box-shadow: none;
}
.panel-2 {
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-001.svg);*/
}
.panel-3 {
    box-shadow: none;
}
.panel-4 {
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-003.svg);*/
}
.panel-5 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-004.svg);
}
.panel-6 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-005.svg);
}
.panel-7 {
    box-shadow: none;
}

.panel-x {
    box-shadow: none;
}
.panel-8 {
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-007.svg);*/
}
.panel-9 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-008.svg);
    box-shadow: none;
}
.panel-copyright {
    box-shadow: none;
    font-size: .75em;
}

/*********************
MEDIA QUERIES
*********************/

@media only screen and (min-width: 400px) {

    .grid-1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 200px auto 200px 200px auto 200px auto;
    }
    .panel-title,
    .panel-3,
    .panel-6,
    .panel-7,
    .panel-copyright {
        grid-column: span 2;
    }
    .panel-copyright {
        text-align: right;
    }
    .panel-7 {
        text-align: center;
    }
    /*h1 {*/
    /*font-size: 3em;*/
    /*}*/

}

@media only screen and (min-width: 600px) {

    #story-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 200px 200px 200px auto;
    }

    .panel-title,
    .panel-copyright {
        grid-column: span 3;
    }

    .panel-3,
    .panel-6 {
        grid-column: auto;
    }

    .panel-8 {
        grid-column: span 2;
    }

    /* flexbox centering */
    .panel-3 {
        display: flex;
        align-items: center;
    }

    /* layering */
    .panel-7 {
        grid-column: 1;
        grid-row: 4;
        z-index: 1;
        margin: -5px 0 0 -10px;
        transform: rotate(-2deg);
    }

    .panel-7 p {
        background: #f8f7f2;
        box-shadow: 0 0px 0px 5px #6d6e71;
        text-align: left;
    }

    .panel-x {
        grid-column: 1;
        grid-row: 2;
        z-index: 1;
        margin: -5px 0 0 -10px;
        transform: rotate(-2deg);
    }

    .panel-x p {
        background: #f8f7f2;
        box-shadow: 0 0px 0px 5px #6d6e71;
        text-align: left;
    }

    .panel-8 {
        grid-column: 1 / span 2;
        grid-row: 4;
        background-size: 70%;
        background-position: right;
    }

    .panel-y {
        grid-column: 1 / span 2;
        grid-row: 2;
        background-size: 70%;
        background-position: right;
    }

}