/*********************
FLEXBOX LAYOUT
*********************/

#portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*.grid > .card {*/
    /*flex: 1;*/
/*}*/

/*********************
GRID LAYOUT
*********************/

#portfolio-grid {
    display: grid;
    grid-gap: 1em;
    /* padding-top: 2.1875em; */ /* 35px */
}

@supports (display: grid) {
    .card {
        width: initial;
        margin: initial;
    }

    .card figure {
        height: 100%;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 768px) { /* was 641px */

    #portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }

    .wireframe {
        grid-row: 1 / 3;
    }

    .usability {
        grid-row: 1 / 3;
    }

    .sprint {
        grid-row: 3 / 6;
    }

    .mobile {
        grid-row: 3 / 5;
    }

    .web {
        grid-row: 5 / 7;
        grid-column: 2 / 3;
    }

    .resume {
        grid-row: 6 / 7;
        grid-column: 1 / 2;
    }

}

@media screen and (min-width: 992px) { /* was 1025px */

    #portfolio-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .wireframe {
        grid-row: 1 / 3;
    }

    .usability {
        grid-row: 1 / 3;
    }

    .sprint {
        grid-row: 1 / 4;
    }

    .slide {
        grid-row: 3 / 5;
    }

    .web {
        grid-column: 1 / 2;
    }

    .resume {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
    }

}

