/* =================================
  Image Transitions & Transforms
==================================== */

.photo, img {
    transition: .5s;
}

.photo img {
    transform-origin: 0 0;
}

/* origin will scale to the word 'resume' on hover */
.photo .resume {
    transform-origin: 100% 0;
}

.photo:hover {
    transform: scale(1.1);
}

/* scale should cover image title which is replaced by <h3> */
.photo:hover img {
    transform: scale(1.24);
}

/* scale resume more to cover image title */
.photo:hover .resume {
    transform: scale(1.35);
}


/* =================================
  Overlay Transitions
==================================== */

.photo-overlay {
    opacity: 0;
    transition: .5s;
}

.photo-overlay:hover {
    opacity: 1;
}

.slide .photo-overlay {
    transform: translateX(-100%);
}

.slide:hover .photo-overlay {
    transform: translateX(0);
}

.slide:hover img {
    transform: translateX(100%);
}


/* =================================
  Button Transitions
==================================== */

.button {
    opacity: 0;
    transition: opacity .2s .5s, background .2s .1s, box-shadow .3s 0s;
    transition-timing-function: ease-out;
}

.button:hover {
    background: rgba(74, 137, 202, 1);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .7);
}

.photo:hover .button {
    opacity: 1;
}
