/***********************
TRANSITIONS & TRANSFORMS
***********************/

.card,
img {
    transition: .5s;
}

.card img {
    transform-origin: 0 0;
}

/* origin will scale to the word 'resume' on hover */
.card .resume {
    /*transform-origin: 100% 0;*/
    transform-origin: 100% 100%;
}

.card:hover {
    transform: scale(1.1);
}

/* scale should cover image caption which is replaced by overlay <h3> */
.card:hover img {
    transform: scale(1.24);
}

/* scale design sprint less so it doesn't overlap adjacent card */
.card:hover .sprint {
    transform: scale(1.7);
}

/* scale resume more to do what??? */
.card:hover .resume {
    transform: scale(1.65);
}


/*********************
OVERLAY TRANSITIONS
*********************/

.photo-overlay {
    opacity: 0;
    transition: .5s;
}

.photo-overlay:hover {
    opacity: 1;
}

.slide .photo-overlay {
    transform: translateX(-100%);
}

.slide:hover .photo-overlay {
    transform: translateX(0);
}

.slide:hover img {
    transform: translateX(100%);
}


/*********************
BUTTON TRANSITIONS
*********************/

.button {
    opacity: 0;
    transition: opacity .2s .5s, background .2s .1s, box-shadow .3s 0s;
    transition-timing-function: ease-out;
}

.button:hover {
    background: rgba(74, 137, 202, 1);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .7);
}

.card:hover .button {
    opacity: 1;
}
