/*********************
GENERAL
*********************/

* {
	box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif; /* falls back to sans-serif if google is down */
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  clear: both; /* clearing from floated nav elements */
}

/*#flex-container {*/
  /*display: flex;*/
  /*width: 100%;*/
/*}*/

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* fill images to the size of the parent container */
}

h3 {
  margin: 0 0 1em 0;
}



/*********************
HEADING
*********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#card {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Changa One', sans-serif; /* falls back to sans-serif if google is down */
  margin: 15px 0;
  font-size: 1.75em; /* em is relative to default pixel size which usually is 16px */
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/*********************
NAVIGATION
*********************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/*********************
FOOTER
*********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both; /* prevents the footer from floating on both left and right sides */
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}


/*********************
COLORS
*********************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* green header */
header {
  /*background: #65a1a7;*/
  background: #2e7cc0;
  border-color: #599a68;
}

/* nav background on mobile */
nav {
  /*background: #599a68;*/
  /*background: #6d6e71;*/

  /*6d6e71*/
}

/* card text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #65a1a7;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #acc9cb;
  transition: 0.3s ease-out;
}


/*********************
PAGE PORTFOLIO
*********************/

#gallery {
  margin: 0;
  padding: 0;
  /*list-style: none; !* removes bullet points from a list *!*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #5588aa;
}

#gallery .photo {
  /*width: 45%;*/
  max-width: 28%;
  margin: 2.5%;
  background-color: #f5f5f5;
}

#gallery p {
  margin: 0;
  padding: 5%;
  /*padding: 13.3px;*/
  font-size: 0.75em;
  /*line-height: 1.5;*/
  color: #6d6e71;
  text-align: center;
}

#gallery h3 {
  /*margin: 0 0 1em 0;*/
  text-align: center;
}

li {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-content: center;*/
  /*flex-direction: column; !* column | row *!*/
}

.photo {
  position: relative; /* used to set photo's overlay position */
  overflow: hidden; /* prevents transforms outside of the container */
  border-radius: .5em;
}

/* ---- Photo Overlay ---- */

.photo-overlay {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*display: none; !* don't use overlays on touch devices *!*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  align-items: center;
  background: rgba(0,0,0, .5);
}

/* overlay adjustments for images that are already dark */
.light {
  background: rgba(0,0,0, .4);
}

.slide .photo-overlay {
  opacity: 1;
  background: #345d88;
}

#gallery .photo-overlay p {
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
}

/* ---- Buttons ---- */

/*.button {*/
  /*color: #fff;*/
  /*width: 60%;*/
  /*font-weight: 700;*/
  /*display: block;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*background: rgba(74,137,202, .65);*/
  /*padding: 8px 0;*/
  /*border-radius: .5em;*/
  /*position: relative;*/
/*}*/

.button {
  color: #fff;
  width: 50%;
  font-weight: 700;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: .3em .8em;
  background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  line-height: 1.5;
}

/*.btn-icon {*/
  /*opacity: 0;*/
  /*display: inline-block;*/
  /*width: 18px;*/
  /*height: 18px;*/
  /*background: url('../img/download.svg');*/
  /*position: absolute;*/
  /*left: 45%;*/
  /*top: 27%;*/
/*}*/


/*********************
PAGE ABOUT
*********************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%
}


/*********************
PAGE CONTACT
*********************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.svg');
}

.contact-info li.mail a {
  background-image: url('../img/mail.svg');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.svg');
}
