/*********************
GENERAL
*********************/

* {
	box-sizing: border-box;
}

body {
  /*font-family: 'Open Sans', sans-serif; !* falls back to sans-serif if google is down *!*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  flex: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* fill images to the size of the parent container */
}

h3 {
  margin: 0 0 1em 0;
}


/*********************
HEADING
*********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#home {
  text-align: center;
  margin: 0;
}

h1 {
  margin: 15px 0;
}

h2 {
  margin: -5px 0 0;
}


/*********************
NAVIGATION
*********************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 15px 10px;
}


/*********************
FOOTER
*********************/

footer {
  text-align: center;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 15px;
}


/*********************
COLORS
*********************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

header {
  background: #2e7cc0;
  border-color: #599a68;
}

/* home link text */
h1, h2 {
  color: #fff;
}

/* other links */
a {
  color: #65a1a7;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #acc9cb;
  transition: 0.3s ease-out;
}


/*********************
PORTFOLIO PAGE
*********************/

.card {
  position: relative; /* used to set photo's overlay position */
  overflow: hidden; /* prevents transforms outside of the container */
  border: solid #999;
  border-radius: .5em;
}

figure {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

figcaption {
  text-align: center;
  line-height: 2.5;
  color: #999;
}

.photo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* ---- Photo Overlay ---- */

.photo-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0, .5);
  padding: .3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* overlay adjustments for images that are already dark */
.light {
  background: rgba(0,0,0, .4);
}

.slide .photo-overlay {
  opacity: 1;
  background: #345d88;
}

/* ---- Buttons ---- */

.button {
  color: #fff;
  font-weight: 700;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: .3em .8em;
  background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  line-height: 1.5;
}


/*********************
ABOUT PAGE
*********************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%
}


/*********************
CONTACT PAGE
*********************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  width: fit-content;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.svg');
}

.contact-info li.mail a {
  background-image: url('../img/mail.svg');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.svg');
}
