/*********************
MEDIA QUERIES
*********************/

/*@media screen and (min-width: 30em) {*/
@media screen and (min-width: 480px) {

  .social-icon {
    margin: 0 25px;
  }

  /*********************
  CONTACT PAGE
  *********************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  /*********************
  MATH FOR THREE COLUMN LAYOUT

  3 columns * (2.5% left margin + 2.5 right margin) = 15% space taken by margins

  100% - 15% = 85% left over

  85% / 3 = 28.333% note that you should resist rounding numbers like these off
  *********************/


  /*********************
  ABOUT PAGE
  *********************/

  .profile-photo {
    float: left;
    margin: 0 5% 0 0;
  }

}

/*@media screen and (min-width: 41em) {*/
@media screen and (min-width: 656px) {


  /*********************
  HEADER
  *********************/

  nav {
    background: none;
    float: right;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #home {
    float: left;
    margin-left: 5%;
    text-align: left;
  }

  h2 {
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #acc9cb;
    margin-bottom: 60px;
  }

}
