/*.color {*/
    /*background: cornsilk;*/
/*}*/

/*.color:nth-child(even) {*/
    /*background: darkseagreen;*/
/*}*/

body {
    font-family: "source-sans-pro",sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: 'jubilat', serif;
}

nav a {
    font-weight: 600;
    padding: 15px 10px;
}

.zork {
    color: #999;
}

q::before {
    content: "“";
    color: #2fb88b;
}

q::after {
    content: "”";
    color: #2fb88b;
}

.button {
    font-weight: 600;
}

.card {
    width: 30%;
    margin: 10px;
}

@supports (display: grid) {
    .card {
        width: initial;
        margin: initial;
    }

    figure {
        justify-content: flex-end;
    }
}

/*@media screen and (min-width: 30em) {*/
@media screen and (min-width: 480px) {

    #home {
        /*background: yellow;*/
    }

}

/*@media screen and (min-width: 41em) {*/
@media screen and (min-width: 656px) {

    #home {
        /*background: green;*/
    }

    h1,
    h2,
    h3 {
        font-family: "jubilat-thin",serif;
    }

}
