/*********************
FLEXBOX LAYOUT
*********************/

.print-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*********************
GRID LAYOUT
*********************/

.print-grid {
    display: grid;
    /*grid-gap: 1em;*/
    grid-column-gap: 1em;
    /* padding-top: 2.1875em; */ /* 35px */
}

@supports (display: grid) {
}

/*@media screen and (min-width: 30em) {*/
@media screen and (min-width: 480px) {

    .print-grid {
        grid-template-columns: 1fr 1fr;
    }

}

